<app-header></app-header>
<p>Bienvenido {{user}}</p>
<button (click) = "salir()">salir</button>
<header>
    <h1>Introducción a Tecnologías Emergentes</h1>
</header>

<section>
    <h2>¿Qué son las Tecnologías Emergentes?</h2>
    <p>
        Las tecnologías emergentes se refieren a aquellas innovaciones tecnológicas que están en proceso de desarrollo 
        o que están en las primeras etapas de su implementación y tienen el potencial de transformar significativamente 
        la sociedad, la economía y la forma en que vivimos y trabajamos.
    </p>

    <h2>Áreas de Estudio</h2>
    <p>
        Algunas de las áreas de estudio en tecnologías emergentes incluyen inteligencia artificial, blockchain, 
        realidad virtual, internet de las cosas (IoT), computación cuántica, biotecnología, entre otras.
    </p>
</section>