<body>
    <app-header></app-header>

   <div class="cabecera">
        <h1 class="parcial">Primer parcial</h1>
        <h1 class="name">Luis Adrian Rodriguez Flores</h1>
    </div>
    <div class="menu">
        <button class="boton-menu">Menú</button>
        <ul class="lista-menu">
            <li><a href="#lab1">Lab1</a></li>
            <li><a href="#lab2">Lab2</a></li>
            <li><a href="#lab3">Lab3</a></li>
            <li><a href="#lab4">Lab4</a></li>
            <li><a href="#lab5">Lab5</a></li>
            <li><a href="#lab7.1">Lab7.1</a></li>
            <li><a href="#lab7.2">Lab7.2</a></li>
        </ul>
    </div>
    
    
    <div class="container-form">
        <div class="input">
            <form *ngIf="!isEditing">
                <label>Nombre:</label><br>
                <input class="nom" type="text" [(ngModel)]="name" name="name" placeholder="Escribe aqui"><br>
                <label>Python Abrev:</label><br>
                <input class="nom" type="text" [(ngModel)]="abrev" name="abrev" placeholder="Escribe aqui"><br>
                
            </form>
            <form *ngIf="isEditing">
                <label>Nombres</label><br>
                <input class="nom" type="text" [(ngModel)]="editRow.name" name="name"><br>
                <label>Phyton Abrev:</label><br>
                <input class="nom" type="text" [(ngModel)]="editRow.abrev" name="abrev"><br>
                <input class="edit" type="button" value="Guardar" (click)="guardar()">
                <input class="edit" type="button" value="Cancelar" (click)="cancelarEdicion()">
            </form>
        </div>
        <div>
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Abrev.</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of dataSource; index as nro">
                        <td>{{nro + 1}}</td>
                        <td>
                            {{!isEditing || row.id !== editRow?.id ? row.abrev : ''}}
                        </td>
                        <td>
                            {{!isEditing || row.id !== editRow?.id ? row.name : ''}}
                        </td>
                        <td>
                            <ng-container *ngIf="!isEditing || row.id !== editRow?.id; else editMode">
                                
                                
                            </ng-container>
                            <ng-template #editMode>
                                
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="lab" id="lab1">
        <h2>Laboratorio 1</h2>
        <pre>
            let nom1 = "Maxwell Wright";
            let nom2 = "Rajá Villarreal";
            let nom3 = "Helen Richards";
            let tel1 = "(0191) 719 6495";
            let tel2 = "0866 398 2895";
            let tel3 = "0800 1111";
            let correo1 = "Curabitur.egestas.nunc@nonummyac.co.uk";
            let correo2 = "posuere.vulputate@sed.com";
            let correo3 = "libero@convallis.edu";
            console.log(`${{nom1} / ${{tel1} / ${{correo1}`);
            console.log(`${{nom3} / ${{tel3} / ${{correo3}`);
        </pre>
    </div>
    <div class="lab" id="lab2">
        <h2>Laboratorio 2</h2>
        <pre>
            let contacts = [
                {{
                name: "Maxwell Wright",
                phone: "(0191) 719 6495",
                email: "Curabitur.egestas.nunc@nonummyac.co.uk"
                }, {{
                name: "Raja Villarreal",
                phone: "0866 398 2895",
                email: "posuere.vulputate@sed.com"
                }, {{
                name: "Helen Richards",
                phone: "0800 1111",
                email: "libero@convallis.edu"
                }, {{
                name: "Maisie Haley",
                phone: "0913 531 3030",
                email: "risus.Quisque@urna.ca"
                }
            ];
            console.log(`${{contacts[0].name} / ${{contacts[0].phone} / ${{contacts[0].email}`);
            console.log(`${{contacts[(contacts.length)-1].name} / ${{contacts[(contacts.length)-1].phone} / ${{contacts[(contacts.length)-1].email}`);
        </pre>
    </div>
    <div class="lab" id="lab3">
        <h2>Laboratorio 3</h2>
        <pre>
            let contacts = [
                {{
                name: "Maxwell Wright",
                phone: "(0191) 719 6495",
                email: "Curabitur.egestas.nunc@nonummyac.co.uk"
                }, {{
                name: "Raja Villarreal",
                phone: "0866 398 2895",
                email: "posuere.vulputate@sed.com"
                }, {{
                name: "Helen Richards",
                phone: "0800 1111",
                email: "libero@convallis.edu"
                }
            ];

            let NewContact = {{
                name: window.prompt("Introduzca su Nombre: "),
                phone: window.prompt("Digite su Numero de Telefono: "),
                email: window.prompt("Introduzca su Correo Electronico: ")
            }     

            contacts.push(NewContact);
    
            let last = contacts.length - 1;
            
            console.log(`${{contacts[0].name} / ${{contacts[0].phone} / ${{contacts[0].email}`);
            console.log(`${{contacts[last].name} / ${{contacts[last].phone} / ${{contacts[last].email}`);
        </pre>
    </div>
    <div class="lab" id="lab4">
        <h2>Laboratorio 4</h2>
        <pre>
            let contacts = [
                {{
                name: "Maxwell Wright",
                phone: "(0191) 719 6495",
                email: "Curabitur.egestas.nunc@nonummyac.co.uk"
                }, {{
                name: "Raja Villarreal",
                phone: "0866 398 2895",
                email: "posuere.vulputate@sed.com"
                }, {{
                name: "Helen Richards",
                phone: "0800 1111",
                email: "libero@convallis.edu"
                }
            ];

            let op = window.prompt("1. Mostar el primer contacto \n2. Mostar el ultimo contacto \n3. Agregar un nuevo contacto","Elije una opcion:");
            switch(op){{
                case "1":
                    console.log(`${{contacts[0].name} / ${{contacts[0].phone} / ${{contacts[0].email}`);
                break;
                case "2":
                    console.log(`${{contacts[(contacts.length)-1].name} / ${{contacts[(contacts.length)-1].phone} / ${{contacts[(contacts.length)-1].email}`);
                break;
                case '3':
                let NewContact = {{
                    name: window.prompt("Introduzca su Nombre: "),
                    phone: window.prompt("Digite su Numero de Telefono: "),
                    email: window.prompt("Introduzca su Correo Electronico: ")
                }
                if (NewContact.name == "" || NewContact.phone == "" || NewContact.email == "") {{
                    alert("No se agrego por un dato vacio")
                } else {{
                    alert("¡Se agrego con exito!");
                    contacts.push(NewContact);
                }
                break;
                default:
                    alert("No existe esa opcion")
            }
        </pre>
    </div>
    <div class="lab" id="lab5">
        <h2>Laboratorio 5</h2>
        <pre>
            let contacts = [
                {{
                name: "Maxwell Wright",
                phone: "(0191) 719 6495",
                email: "Curabitur.egestas.nunc@nonummyac.co.uk"
                }, {{
                name: "Raja Villarreal",
                phone: "0866 398 2895",
                email: "posuere.vulputate@sed.com"
                }, {{
                name: "Helen Richards",
                phone: "0800 1111",
                email: "libero@convallis.edu"
                }
            ];

            let op;
            do {{
                op = window.prompt("1. Mostar el primer contacto \n2. Mostar el ultimo contacto \n3. Mostrar todos los contactos  \n4. Agregar un nuevo contacto \n5. Salir del programa","Elije una opcion:");
                switch(op){{
                    case "1":
                        console.log(`${{contacts[0].name} / ${{contacts[0].phone} / ${{contacts[0].email}`);
                    break;
                    case "2":
                        console.log(`${{contacts[(contacts.length)-1].name} / ${{contacts[(contacts.length)-1].phone} / ${{contacts[(contacts.length)-1].email}`);
                    break;
                    case "3":
                        for (let i = 0; i < contacts.length; i++) {{
                            console.log(`${{contacts[i].name} / ${{contacts[i].phone} / ${{contacts[i].email}`);        
                        }
                    break;
                    case "4":
                        let NewContact = {{
                            name: window.prompt("Introduzca su Nombre: "),
                            phone: window.prompt("Digite su Numero de Telefono: "),
                            email: window.prompt("Introduzca su Correo Electronico: ")
                        }
                        if (NewContact.name == "" || NewContact.phone == "" || NewContact.email == "") {{
                            alert("No se agrego por un dato vacio");
                        } else {{
                            contacts.push(NewContact);
                            alert("¡Se agrego con exito!");
                        }
                    break;
                    case "5":
                        alert("Hasta pronto!!");
                    break;
                    default:
                        alert("No existe esa opcion")
                }
            } while(op != 5);
        </pre>
    </div>
    <div class="lab" id="lab7.1">
        <h2>Laboratorio 7.1</h2>
        <pre>
            let contacts = [
                {{
                name: "Maxwell Wright",
                phone: "(0191) 719 6495",
                email: "Curabitur.egestas.nunc@nonummyac.co.uk"
                }, {{
                name: "Raja Villarreal",
                phone: "0866 398 2895",
                email: "posuere.vulputate@sed.com"
                }, {{
                name: "Helen Richards",
                phone: "0800 1111",
                email: "libero@convallis.edu"
                }
            ];

            let op;
            do {{
                op = window.prompt("1. Mostar el primer contacto \n2. Mostar el ultimo contacto \n3. Mostrar todos los contactos  \n4. Agregar un nuevo contacto \n5. Salir del programa","Elije una opcion:");
                switch(op){{
                    case "1":
                        showContact(contacts,0);
                    break;
                    case "2":
                        showContact(contacts,(contacts.length)-1);
                    break;
                    case "3":
                        showAllContacts(contacts);
                    break;
                    case "4":
                        let nam = window.prompt("Introduzca su Nombre: ");
                        let phone = window.prompt("Digite su Numero de Telefono: ");
                        let email = window.prompt("Introduzca su Correo Electronico: ");
                        addNewContacts(contacts,nam, phone,email);
                    break;
                    case "5":
                        alert("Hasta pronto!!");
                    break;
                    default:
                        alert("No existe esa opcion")
                }
            } while(op != 5);

            function showContact(lisCont, numInd) {{
                if (lisCont instanceof Array && lisCont[numInd]) {{
                    console.log(`${{lisCont[numInd].name} / ${{lisCont[numInd].phone} / ${{lisCont[numInd].email}`);
                }
            }

            function showAllContacts(lisCont) {{
                if (lisCont instanceof Array) {{
                    for (let i = 0; i < lisCont.length; i++) {{
                        console.log(`${{lisCont[i].name} / ${{lisCont[i].phone} / ${{lisCont[i].email}`);        
                    }
                }
            }

            function addNewContacts(lisCont, nom, cell, corrElec ) {{
                if (contacts instanceof Array && nom && cell && corrElec) {{
                    lisCont.push({{
                        name: nom,
                        phone: cell,
                        email: corrElec
                    });
                    alert("¡Se agrego con exito!");
                }
            }
        </pre>
    </div>
    <div class="lab" id="lab7.2">
        <h2>Laboratorio 7.2</h2>
        <pre>
            let contacts = [
                {{
                name: "Maxwell Wright",
                phone: "(0191) 719 6495",
                email: "Curabitur.egestas.nunc@nonummyac.co.uk"
                }, {{
                name: "Raja Villarreal",
                phone: "0866 398 2895",
                email: "posuere.vulputate@sed.com"
                }, {{
                name: "Helen Richards",
                phone: "0800 1111",
                email: "libero@convallis.edu"
                }
            ];

            let op;
            do {{
                op = window.prompt("1. Mostar el primer contacto \n2. Mostar el ultimo contacto \n3. Mostrar todos los contactos  \n4. Agregar un nuevo contacto \n5. Clasificacion \n6. Salir del programa","Elije una opcion:");
                switch(op){{
                    case "1":
                        showContact(contacts,0);
                    break;
                    case "2":
                        showContact(contacts,(contacts.length)-1);
                    break;
                    case "3":
                        showAllContacts(contacts);
                    break;
                    case "4":
                        let nam = window.prompt("Introduzca su Nombre: ");
                        let phone = window.prompt("Digite su Numero de Telefono: ");
                        let email = window.prompt("Introduzca su Correo Electronico: ");
                        addNewContacts(contacts,nam, phone,email);
                    break;
                    case "5":
                        let orde = window.prompt("Como desea ordenar: \n1. Nombre \n2. Telefono \n3. Correo Electronico ");
                        sortContacts(contacts,orde);
                    break;
                    case "6":
                        alert("Hasta pronto!!");
                    break;
                    default:
                        alert("No existe esa opcion")
                }
            } while(op != 6);

            function showContact(lisCont, numInd) {{
                if (lisCont instanceof Array && lisCont[numInd]) {{
                    console.log(`${{lisCont[numInd].name} / ${{lisCont[numInd].phone} / ${{lisCont[numInd].email}`);
                }
            }

            function showAllContacts(lisCont) {{
                if (lisCont instanceof Array) {{
                    for (let i = 0; i < lisCont.length; i++) {{
                        console.log(`${{lisCont[i].name} / ${{lisCont[i].phone} / ${{lisCont[i].email}`);        
                    }
                }
            }

            function addNewContacts(lisCont, nom, cell, corrElec ) {{
                if (contacts instanceof Array && nom && cell && corrElec) {{
                    lisCont.push({{
                        name: nom,
                        phone: cell,
                        email: corrElec
                    });
                    alert("Se agrego con exito!");
                }
            }

            function sortContacts(contacts, orde) {{
                if (contacts instanceof Array) {{
                    switch (orde) {{
                        case "1":
                            contacts.sort((a, b) => a.name.localeCompare(b.name));
                        break;
                        case "2":
                            contacts.sort((a, b) => a.phone.localeCompare(b.phone));
                        break;
                        case "3":
                            contacts.sort((a, b) => a.email.localeCompare(b.email));
                        break;
                        default:
                            console.log("Opción no válida");
                        return;
                    }
                    console.log("Lista ordenada:");
                    for (const contact of contacts) {{
                        console.log(`${{contact.name} / ${{contact.phone} / ${{contact.email}`);
                    }
                }
            }
        </pre>
    </div>
    
    <div class="footer">
        <h1>Herramientas</h1>
        <table>
            <tr>
                <td>CISCO</td>
                <td>YouTube</td>
                <td>W3SHCOOLS</td>
            </tr>
            <tr>
                <td><a href="https://skillsforall.com/es/course/javascript-essentials-1?courseLang=en-US" target="_blank" class="cisco"></a></td>
                <td><a href="https://www.youtube.com/playlist?list=PLvq-jIkSeTUZ6QgYYO3MwG9EMqC-KoLXA" target="_blank" class="yt"></a></td>
                <td><a href="https://www.w3schools.com/" target="_blank" class="w3s"></a></td>
            </tr>
        </table>
    </div>
    <!-- <script src="../js/AdrianRodriguez/lab1.js"></script> -->

</body>